.c-site-footer{
    background: $secondary-color;
    justify-content: center;
    position: relative;

    .o-row-container{
        justify-content: space-around;
        padding: 250px 0px 100px 0px;
    }

    a{
        color: $text-color-white;
    }

    .o-rights-reserved{
        align-self: center;
    }

    .o-primary-logo-container{
        position: absolute;
        right: 50px;
        top: 50px;
    }
}