.c-site-header {
    background: $site-header-color;
    justify-content: space-between;
    padding: 10px 70px;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;

    &__menu-list-item-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 10px;
        font-weight: bold;
    }

    &__menu {
        width: 300px;
        position: absolute;
        top: 65px;
        display: none;
    }

    &__menu-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, .8);
        border: 2px solid white;
        border-bottom: 1px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 1px solid white;
    }

    &__menu-list-item:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &__menu-text {
        width: 100%;
        text-align: center;
        color: $secondary-color;
        padding: 10px;
    }

    &__menu-text:hover {
        background: white;
        font-weight: 500;
    }

    &__menu-form{
        width: 100%;
    }
}

.c-site-header__logo{
    width: 80px;
}

.c-site-header__authorization-section {
    margin-left: 100px;
    position: relative;
    align-items: center;
    cursor: pointer;

    &__logged-in {
        img {
            border-radius: 50%;
            width: 50px;
        }

        span {
            @include secondary-font;
            font-weight: bold;
            margin-right: 30px;
        }
    }
}

.c-site-header__links-list{

    li{
        margin: 0px 30px;
    }

    &__link{
        color: $text-color-dark;
        text-shadow: 0px 9px 19px #{$text-color-dark}4D;
    }
}

.c-site-header__authorization-list{
    li{
        margin: 0px 20px;
    }
}