$primary-color: #0097FF;
$secondary-color: #001D37;

$text-color-white: #fff;
$text-color-dark: $secondary-color;

$site-header-color: rgba(255,255,255, .6);
$stripe-color: #E1F8F8;
$text-color-grey: grey;