@using EfektKontrol.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<section class="c-site-front o-column-container o-column-container--left-center">
    <div class="o-column-container c-site-front__container">
        <h1 class="o-primary-heading o-primary-heading--small-width">
            Искате да направите измервания? Направете своята онлайн поръчка
            сега!
        </h1>
        <a class="o-primary-button" href="https://google.com">Направи сега</a>
    </div>
</section>
<section class="o-row-container c-benefits">
    <div class="o-row-container c-benefits__item">
        <i class="fas fa-suitcase"></i>
        <p><strong>Качествено</strong> изпълненое.</p>
    </div>
    <div class="o-row-container c-benefits__item">
        <i class="fas fa-clock"></i>
        <p>Направете своята поръчка само с <strong>няколко</strong> клика.</p>
    </div>
    <div class="o-row-container c-benefits__item">
        <i class="fab fa-teamspeak"></i>
        <p><strong>Най-добрият</strong> екип в България.</p>
    </div>
</section>
<section id="about-us" class="c-about-us">
    <div class="o-row-container">
        <div class="o-column-container">
            <h2>За нас</h2>
            <ul>
                <li class="c-about-us__list-item">
                    <span class="c-about-us__text">
                        <strong>ОКА “Ефект Контрол”</strong> е създаден през 2004 г. и е на пазара вече
                        повече от 17 години.
                    </span>
                </li>
                <li class="c-about-us__list-item">
                    <span class="c-about-us__text">
                        <strong>ОКА “Ефект Контрол”</strong> e Акредитиран от Изпълнителна агенция
                        Българска служба за акредитация съгласно изискванията на БДС
                        EN ISO/IEC 17020 и притежава Сертификат за акредитация №220
                        ОКА валиден до 23.10.2022г.
                    </span>
                </li>
                <li class="c-about-us__list-item">
                    <span class="c-about-us__text">
                        <strong>ОКА “Ефект Контрол”</strong> разполага с най-модерната апаратура,
                        калибрирана в български и европейски лаборатории, акредитирани
                        по БДС ISO/IEC 17025
                    </span>
                </li>
                <li class="c-about-us__list-item">
                    <span class="c-about-us__text">
                        <strong>ОКА “Ефект Контрол”</strong> притежава технически компетентен персонал
                        с доказани теоретични и практически познания.
                    </span>
                </li>
                <li class="c-about-us__list-item">
                    <span class="c-about-us__text">
                        <strong>ОКА “Ефект Контрол”</strong> използва съвременни методи и процедури за
                        контрол.
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <img src="~/images/office-image.png" alt="" />
        </div>
    </div>
    <div class="o-stripes">
        <div class="o-stripes__element"></div>
        <div class="o-stripes__element"></div>
    </div>
</section>
<section class="o-column-container c-site-institutions">
    <h2 class="c-site-institutions__title">За кои институции/административни органи са необходими нашите измервания?</h2>
    <ul class="c-site-institutions__list">
        <li>
            <span class="c-site-institutions__list__text">
                Издаваме протоколи и сертификати за измервания факторите на работната среда и електроизмервания по предписание на ИА ГИТ
            </span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи и сертификати за импеданс на контура „фаза-защитен проводник” за узаконяване на газов котел в изпълнение на изискванията на „София Газ” АД</span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи и сертификати за въздействието на шума върху околната среда и за шума в жилищни и обществени зони и територии, валидни за Столична община</span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи и сертификати за абонатна станция на жилищни и офис сгради съгласно ЗУТ, валидни за СО</span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи от измерване на осветлението, която осигурява монтираното евакуационно осветление по осевата линия на пода по пътя за евакуация за Столична Дирекция „Пожарна безопасност и защита на населението” Министерство на вътрешните работи</span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи за определяне на експлозивната опасност на средата, за изготвяне на заключения за огневи работи за органи на „Пожарна и аварийна безопасност” /ПАБ/ и /РСПАБ/</span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">
                Издаваме протоколи за измерване налягане на въздуха за противодимни вентилационни инсталации валидни за „Пожарна и аварийна безопасност” /ПАБ/
            </span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">
                Издаваме необходимите документи за въвеждане в експлоатация на строеж : ремонт и преустройства на помещения
            </span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">
                Издаваме протоколи и сертификати за удостоверения за въвеждане в експлоатация на сгради 4,5 категория /строеж четвърта категория, строеж пета категория/необходими за НАГ, общини на Република България
            </span>
        </li>
        <li>
            <span class="c-site-institutions__list__text">Издаваме протоколи и сертификати за разрешение за ползване АКТ 15, АКТ 16 за сгради 1,2,3 категория необходими за ДНСК</span>
        </li>
    </ul>
    <div class="o-airplane">
        <svg width="469" height="324" viewBox="0 0 469 324" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M283.74 84.2828C286.403 81.3719 289.826 79.1206 293.694 77.7369C333.773 61.0878 372.562 42.2634 411.973 24.4555C428.851 16.873 445.351 8.98544 462.029 1.24023C463.765 0.447409 465.814 -0.690996 467.417 0.549052C469.02 1.7891 467.417 3.55769 466.927 5.02136C454.614 41.6129 438.626 76.8018 423.908 112.499C419.633 122.907 415.38 133.315 411.528 143.846C410.17 147.627 408.433 148.094 404.715 146.651C397.827 143.72 391.246 140.222 385.053 136.202C383.495 135.177 381.66 134.559 379.747 134.412C377.833 134.265 375.911 134.596 374.187 135.369C363.7 139.312 353.947 144.578 343.905 149.294C340.053 151.123 338.405 151.123 337.781 146.366C336.557 136.771 334.375 127.278 332.682 117.723C332.493 116.153 331.906 114.645 330.966 113.318C330.027 111.991 328.762 110.882 327.272 110.08C313.31 102.172 299.572 93.8169 285.767 85.6854C285.058 85.2596 284.381 84.791 283.74 84.2828V84.2828ZM456.84 17.8081C456.069 17.8613 455.325 18.0925 454.679 18.4801C454.032 18.8677 453.504 19.3989 453.144 20.0239C436.244 37.8521 419.477 55.7617 402.51 73.5289C389.15 87.515 375.189 101.054 363.254 116.219C361.896 117.947 360.137 119.167 363.811 120.773C375.924 126.058 387.102 132.97 398.747 139.068C407.097 143.398 407.053 143.398 410.081 135.43C423.018 101.542 437.958 68.3451 451.318 34.5995C453.769 29.185 455.619 23.5597 456.84 17.8081ZM292.068 83.9982C292.87 85.6245 294.295 86.031 295.519 86.6002C306.824 92.5908 317.786 99.1045 328.363 106.116C331.213 108.047 332.682 107.437 335.043 105.669C370.357 78.794 404.536 50.7811 437.847 21.8128C440.074 19.9426 442.857 18.5196 443.659 15.2873C393.47 38.8279 341.767 59.5225 292.113 83.9982H292.068ZM342.012 140.471C343.259 140.471 343.214 139.678 343.437 139.129C348.371 126.83 355.805 115.491 365.347 105.709C387.191 82.7988 409.19 60.0307 431.1 37.1813C432.37 35.8396 434.151 34.7215 434.485 32.7293C432.726 32.2008 432.258 33.2782 431.501 33.8677C402.436 57.2728 373.593 80.9014 344.973 104.754C338.828 109.836 333.974 114.247 337.893 122.46C339.184 125.164 338.672 128.559 339.318 131.527C339.963 134.495 340.164 137.788 342.012 140.471ZM347.445 143.073C355.884 137.788 365.036 135.592 373.052 130.307C368.264 127.684 363.922 125.347 359.692 122.948C358.556 122.338 357.153 121.708 356.619 123.171C354.169 129.656 349.338 135.247 347.467 143.073H347.445ZM457.085 17.0356L456.729 16.7103C456.6 16.8982 456.489 17.0954 456.395 17.2999C456.395 17.2999 456.595 17.5031 456.707 17.6048L457.085 17.0356Z" fill="white" />
            <path d="M334.085 158.564C333.714 160.231 333.38 161.897 333.083 163.564" stroke="white" stroke-width="2" stroke-miterlimit="10" />
            <path d="M331.68 173.769C330.367 186.414 330.344 199.221 328.296 211.784C325.446 229.429 317.541 247.766 300.886 257.096C285.299 265.797 264.836 264.699 248.693 257.096C232.55 249.493 220.481 235.812 211.909 221.196C206.008 211.032 201.488 199.688 203.002 188.325C204.516 176.961 213.779 165.821 226.226 164.337C240.811 162.589 253.814 174.379 258.156 187.227C261.114 196.529 260.961 206.426 257.716 215.647C254.47 224.869 248.281 232.995 239.942 238.984C226.026 248.64 207.856 251.181 190.488 253.214C155.352 257.096 119.725 259.495 85.8355 268.968C55.6643 277.384 26.4061 292.326 7.32367 315.094" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="5.04 5.04" />
            <path d="M4.02826 319.16C2.98173 320.563 1.97973 321.986 1 323.43" stroke="white" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</section>